/* -------------------------------------------GLOBAL STYLING------------------------------------------- */
:root,
:root.monokai {
    --background-color: #1e1f1c;
    --editor-background: #272822;
    --navbar-text: #ccccc7;
    --inactive-navbar-background: #34352f;
    --active-navbar-text: #ffffff;
    --body-text: #f8f8f2;
    --secondary-text: #cfcfc2;
    --editor-line-number: #90908a;
    --editor-line-number-hover: #c2c2bf;
    --highlighted-line: #3e3d32;
    --line-break: #88846f;
    --accent: #a6e22e;
    --accent-hover: #4e94ce;
    --article3-heading-paragraph: #cacabe;
    --anchortag-orange-color: #fd971f;
    --color-focus: #75715e;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #79797966;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #bfbfbf66;
    --color-scrollbar-shadow: #000000;
    --color-blockquote: var(--line-break);
    --color-blockquote-symbol: var(--line-break);
    --code-background-color: #22231e;
    --code-color: var(--secondary-text);
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
        system-ui, Ubuntu, sans-serif;
    --font-mono: Fira Code, monospace;
}
:root.dark-plus {
    --background-color: #252526;
    --editor-background: #1e1e1e;
    --navbar-text: #ffffff80;
    --inactive-navbar-background: #2d2d2d;
    --active-navbar-text: #ffffff;
    --body-text: #d4d4d4;
    --secondary-text: #bbbbbb;
    --editor-line-number: #858585;
    --editor-line-number-hover: #c6c6c6;
    --highlighted-line: transparent;
    --line-break: #6a9955;
    --accent: #4ec9b0;
    --accent-hover: #4e94ce;
    --anchortag-orange-color: #ce9178;
    --color-focus: #007fd4;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #79797966;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #bfbfbf66;
    --color-scrollbar-shadow: #000000;
    --color-blockquote: var(--body-text);
    --color-blockquote-symbol: var(--line-break);
    --code-background-color: #1c1c1c;
    --code-color: var(--secondary-text);
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
        system-ui, Ubuntu, sans-serif;
    --font-mono: Fira Code, monospace;
}
:root.light-plus {
    --background-color: #f3f3f3;
    --editor-background: #ffffff;
    --navbar-text: #333333b3;
    --inactive-navbar-background: #ececec;
    --active-navbar-text: #333333;
    --body-text: #000000;
    --secondary-text: #444444;
    --editor-line-number: #237893;
    --editor-line-number-hover: #0b216f;
    --highlighted-line: transparent;
    --line-break: #008000;
    --accent: #267f99;
    --accent-hover: #0000ff;
    --anchortag-orange-color: #800000;
    --color-focus: #0090f1;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #64646466;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #00000099;
    --color-scrollbar-shadow: #dddddd;
    --color-blockquote: var(--body-text);
    --color-blockquote-symbol: #0451a5;
    --code-background-color: #fbfbfb;
    --code-color: var(--secondary-text);
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
        system-ui, Ubuntu, sans-serif;
    --font-mono: Fira Code, monospace;
}
:root.github-dark {
    --background-color: #1b1f23;
    --editor-background: #24292e;
    --navbar-text: #959da5;
    --inactive-navbar-background: #1f2428;
    --active-navbar-text: #e1e4e8;
    --body-text: #e1e4e8;
    --secondary-text: #959da5;
    --editor-line-number: #768390;
    --editor-line-number-hover: #e1e4e8;
    --highlighted-line: #2b3036;
    --line-break: #6a737d;
    --accent: #96d0ff;
    --accent-hover: #4e94ce;
    --anchortag-orange-color: #9ecbff;
    --color-focus: #005cc5;
    --color-scrollbar-border: #1b1f23;
    --color-scrollbar-thumb: #6a737d33;
    --color-scrollbar-thumb-hover: #6a737d44;
    --color-scrollbar-thumb-active: #6a737d88;
    --color-scrollbar-shadow: #00000088;
    --color-blockquote: #85e89d;
    --color-blockquote-symbol: var(--color-blockquote);
    --code-background-color: #202428;
    --code-color: var(--secondary-text)
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
        system-ui, Ubuntu, sans-serif;
    --font-mono: Fira Code, monospace;
}

:root.github-light {
    --background-color: #f6f8fa;
    --editor-background: #ffffff;
    --navbar-text: #6a737d;
    --inactive-navbar-background: #eff2f6;
    --active-navbar-text: #2f363d;
    --body-text: #24292e;
    --secondary-text: #6a737d;
    --editor-line-number: #1b1f234d;
    --editor-line-number-hover: #24292e;
    --highlighted-line: #f6f8fa;
    --line-break: #6a737d;
    --accent: #032f62;
    --accent-hover: #0000ff;
    --anchortag-orange-color: #032f62;
    --color-focus: #2188ff;
    --color-scrollbar-border: #ffffff;
    --color-scrollbar-thumb: #959da533;
    --color-scrollbar-thumb-hover: #959da544;
    --color-scrollbar-thumb-active: #959da588;
    --color-scrollbar-shadow: #6a737d33;
    --color-blockquote: #22863a;
    --color-blockquote-symbol: var(--color-blockquote);
    --code-background-color: #fcfcfc;
    --code-color: var(--secondary-text);
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
        system-ui, Ubuntu, sans-serif;
    --font-mono: Fira Code, monospace;
}

:root.solarized-light {
    --background-color: #eee8d5;
    --editor-background: #fdf6e3;
    --navbar-text: #586e75;
    --inactive-navbar-background: #e4ddc9;
    --active-navbar-text: #333333;
    --body-text: #333333;
    --secondary-text: #586e75;
    --editor-line-number: #237893;
    --editor-line-number-hover: #567983;
    --highlighted-line: #eee8d5;
    --line-break: #93a1a1;
    --accent: #268bd2;
    --accent-hover: #0000ff;
    --anchortag-orange-color: #2aa198;
    --color-focus: #d3af86;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #64646466;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #00000099;
    --color-scrollbar-shadow: #dddddd;
    --color-blockquote: #859900;
    --color-blockquote-symbol: var(--color-blockquote);
    --code-background-color: #f9f1dc;
    --code-color: var(--secondary-text)
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
        system-ui, Ubuntu, sans-serif;
    --font-mono: Fira Code, monospace;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover);
}

*::-webkit-scrollbar-thumb:active {
    background: var(--color-scrollbar-thumb-active);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* ---------------------------------------------------------------------------------------------------------------- */
body {
    background-color: var(--background-color);
    /* color: var(--body-text); */
    font-family: var(--font-mono);
    line-height: 1.5rem;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    border-left: 1px solid var(--color-scrollbar-border);
}
.container {
    max-width: 81ch;
    margin: 5rem auto;
}
.nav-list {
    display: flex;
    margin: 0 auto;
}

.nav-item:nth-of-type(3) {
    background-color: var(--editor-background);
    color: var(--active-navbar-text);
}

.nav-item:not(:nth-of-type(3)) {
    margin-right: 0.1rem;
    background-color: var(--inactive-navbar-background);
}

.nav-link {
    font-family: var(--font-sans);
    font-size: 0.8rem;
    color: var(--navbar-text);
}

.nav-link div {
    width: 7.5rem;
    padding: 0.3rem 0 0.3rem 0.5rem;
}

.article-tab {
    padding: 0.35rem 0.5rem 0;
    font: italic 0.8rem var(--font-sans);
}

.article-tab a {
    margin-left: 0.2rem;
    padding: 0.2rem 0.2rem 0;
    color: var(--navbar-text);
    font-weight: normal;
    vertical-align: middle;
}

.article-tab a:hover {
    border-radius: 5px;
    background-color: var(--inactive-navbar-background);
}

.article-name {
    color: var(--active-navbar-text);
}

.editor {
    background-color: var(--editor-background);
    padding: 2rem 4rem;
    /* height: 100%; */
    /* height: 100vh; */
}

#heading {
    display: flex;
    justify-content: space-between;
}
h1 {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--body-text);
}
.heading-text {
    color: var(--article3-heading-paragraph);
    font-size: medium;
}

.time {
    font-size: 0.8rem;
    white-space: nowrap;
    color: var(--article3-heading-paragraph);
}
.time1 {
    font-size: 0.8rem;
    text-align: right;
    color: var(--article3-heading-paragraph);
}
.image-container {
    padding-top: 1.5rem;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.text-1 {
    color: var(--body-text);
    padding: 1.5rem 0;
}
.text-1-content {
    display: flex;
    overflow: hidden;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--color-blockquote);
}

.text-1-content::before {
    content: "> > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > >";
    width: 1ch;
    height: 1.5rem;
    margin-right: 2ch;
    color: var(--color-blockquote-symbol);
}
i {
    font-weight: bold;
}
.anchortag-1 {
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
}
.anchortag-1:hover {
    color: var(--accent-hover);
    border-bottom: 2px solid var(--accent-hover);
}
h2 {
    color: var(--body-text);
    padding: 1rem 0;
    font-size: 1.25rem;
}
.text-2 {
    color: var(--body-text);
}
.text-4 {
    padding-top: 1.5rem;
    color: var(--body-text);
}
.highlighted-text {
    color: var(--anchortag-orange-color);
}
.text-4-content {
    padding-top: 1.5rem;
}
figcaption {
    display: flex;
    justify-content: center;
    color: var(--secondary-text);
    font-size: 0.82rem;
    padding: 0;
}
.text-3 {
    padding-top: 1.2rem;
    color: var(--body-text);
}
.text-6 {
    padding-top: 0.5rem;
    color: var(--body-text);
}
.editor-1 {
    background-color: var(--code-background-color);
    color: var(--code-color);
    padding: 1.3rem 4rem;
}
.example {
    margin: 1.5rem 0;
}

.text-7 {
    color: var(--secondary-text);
    /* padding: 1.5rem 0; */
    white-space: nowrap;
    /* background-color: var(--background-color); */
}
.text-8 {
    display: flex;
    padding-top: 1.3rem;
}
.hyphen {
    padding-right: 1rem;
    color: var(--accent);
}
.text-8-content {
    color: var(--body-text);
}
.counter {
    padding-top: 1rem;
    counter-reset: counter-list;
    padding-left: 1rem;
}
.counter .list {
    position: relative;
    padding-bottom: 1rem;
    padding-left: 0.9rem;
    color: var(--body-text);
}
.list::before {
    counter-increment: counter-list;
    content: counter(counter-list);
    position: absolute;
    left: -1.1rem;
    color: var(--accent);
}

.line-break {
    display: flex;
    height: 1.5rem;
    margin: 1.5rem 0;
    border-width: 0px;
    color: var(--line-break);
    opacity: 80%;
    overflow: hidden !important;
}

.line-break::before {
    content: "//";
    padding-right: 0.5rem;
}

.line-break::after {
    content: "-------------------------------------------------------";
    font-variant-ligatures: none;
    overflow-wrap: anywhere;
}

footer {
    display: flex;
    justify-content: space-between;
}

.social-links {
    font-weight: 500;
}

.social-link {
    display: inline-block;
}

.social-link a {
    border-bottom: 1px solid var(--accent);
    color: var(--accent);
}

.social-link a:hover {
    border-bottom: 1px solid var(--accent-hover);
    color: var(--accent-hover);
}

.social-link span {
    color: var(--body-text);
}

.color-theme-name {
    position: relative;
    cursor: pointer;
    color: var(--body-text);
}

.color-theme-name:focus-within {
    outline: 1px solid var(--color-focus) !important;
}

.arrow {
    font-size: 1rem;
    color: var(--accent);
}

.color-theme-name:hover,
.color-theme-name:hover .arrow {
    color: var(--accent-hover);
}

.theme-picker {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background: none;
    color: var(--body-text);
    opacity: 0;
    -webkit-appearance: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Fira code", monospace;
    cursor: pointer;
}

.theme-picker:focus,
.theme-picker:active {
    outline: none;
}

.theme-picker > option {
    background-color: var(--background-color);
    color: var(--secondary-text);
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
    body::-webkit-scrollbar {
        display: none;
    }
    .container {
        margin-top: 1px;
    }

    nav {
        overflow: auto;
    }

    nav::-webkit-scrollbar {
        display: none;
    }

    .nav-list {
        flex: 0 0 auto;
    }

    .nav-item {
        flex: 0 0 auto;
        min-width: 25%;
    }

    .nav-link div {
        min-width: 0;
    }
    h1,
    h2 {
        font-size: 17.5px;
    }
    p {
        font-size: 14px;
    }
    #heading {
        display: block;
        justify-content: flex-start;
    }
    .time1 {
        display: none;
    }
    .editor {
        display: block;
        justify-content: flex-start;
        padding: 2rem 4rem 0 2rem;
    }
    .editor1-text2 {
        padding-bottom: 1.3rem;
    }
    .editor-1 {
        /* background-color: var(--editor-background); */
        padding: 1.5rem 2rem;
    }
    .text-1-content {
        margin-top: 0;
        margin-bottom: 0;
    }
    .text-7 {
        overflow: auto;
    }
    footer {
        padding-bottom: 5rem;
        min-height: 0;
        flex-direction: column;
        font-size: 14px;
    }

    .social-links {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;
    }

    .bullet {
        display: none;
    }
}
@media screen and (max-width: 300px) {
    .container {
        margin: 0 auto;
    }
    h2 {
        white-space: nowrap;
        font-size: 1.15rem;
    }
    #heading {
        display: block;
        justify-content: flex-start;
    }
    .time1 {
        display: none;
    }
    .editor {
        display: block;
        justify-content: flex-start;
        padding: 2rem 4rem 0 2rem;
    }
    .editor1-text2 {
        padding-bottom: 1.3rem;
    }
    .editor-1 {
        padding: 1.5rem 2rem;
    }
    .text-1-content {
        margin-top: 0;
        margin-bottom: 0;
    }
    .text-7 {
        overflow: auto;
    }
}
