:root,
:root.monokai {
    --background-color: #1e1f1c;
    --editor-background: #272822;
    --navbar-text: #ccccc7;
    --inactive-navbar-background: #34352f;
    --active-navbar-text: #ffffff;
    --body-text: #f8f8f2;
    --secondary-text: #cfcfc2;
    --editor-line-number: #90908a;
    --editor-line-number-hover: #c2c2bf;
    --highlighted-line: #3e3d32;
    --line-break: #88846f;
    --accent: #a6e22e;
    --accent-hover: #4e94ce;
    --color-focus: #75715e;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #79797966;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #bfbfbf66;
    --color-scrollbar-shadow: #000000;
    --text-selection-color: #878b9180;
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
        system-ui, Ubuntu, sans-serif;
    --font-mono: Fira Code, monospace;
}

:root.dark-plus {
    --background-color: #252526;
    --editor-background: #1e1e1e;
    --navbar-text: #ffffff80;
    --inactive-navbar-background: #2d2d2d;
    --active-navbar-text: #ffffff;
    --body-text: #d4d4d4;
    --secondary-text: #bbbbbb;
    --editor-line-number: #858585;
    --editor-line-number-hover: #c6c6c6;
    --highlighted-line: transparent;
    --line-break: #6a9955;
    --accent: #4ec9b0;
    --accent-hover: #4e94ce;
    --color-focus: #007fd4;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #79797966;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #bfbfbf66;
    --color-scrollbar-shadow: #000000;
    --text-selection-color: #264f78;
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
        system-ui, Ubuntu, sans-serif;
    --font-mono: Fira Code, monospace;
}
:root.light-plus {
    --background-color: #f3f3f3;
    --editor-background: #ffffff;
    --navbar-text: #333333b3;
    --inactive-navbar-background: #ececec;
    --active-navbar-text: #333333;
    --body-text: #000000;
    --secondary-text: #444444;
    --editor-line-number: #237893;
    --editor-line-number-hover: #0b216f;
    --highlighted-line: transparent;
    --line-break: #008000;
    --accent: #267f99;
    --accent-hover: #0000ff;
    --color-focus: #0090f1;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #64646466;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #00000099;
    --color-scrollbar-shadow: #dddddd;
    --text-selection-color: #add6ff;
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
        system-ui, Ubuntu, sans-serif;
    --font-mono: Fira Code, monospace;
}
:root.github-dark {
    --background-color: #1b1f23;
    --editor-background: #24292e;
    --navbar-text: #959da5;
    --inactive-navbar-background: #1f2428;
    --active-navbar-text: #e1e4e8;
    --body-text: #e1e4e8;
    --secondary-text: #959da5;
    --editor-line-number: #768390;
    --editor-line-number-hover: #e1e4e8;
    --highlighted-line: #2b3036;
    --line-break: #6a737d;
    --accent: #96d0ff;
    --accent-hover: #4e94ce;
    --color-focus: #005cc5;
    --color-scrollbar-border: #1b1f23;
    --color-scrollbar-thumb: #6a737d33;
    --color-scrollbar-thumb-hover: #6a737d44;
    --color-scrollbar-thumb-active: #6a737d88;
    --color-scrollbar-shadow: #00000088;
    --text-selection-color: #3392ff44;
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
        system-ui, Ubuntu, sans-serif;
    --font-mono: Fira Code, monospace;
}

:root.github-light {
    --background-color: #f6f8fa;
    --editor-background: #ffffff;
    --navbar-text: #6a737d;
    --inactive-navbar-background: #eff2f6;
    --active-navbar-text: #2f363d;
    --body-text: #24292e;
    --secondary-text: #6a737d;
    --editor-line-number: #1b1f234d;
    --editor-line-number-hover: #24292e;
    --highlighted-line: #f6f8fa;
    --line-break: #6a737d;
    --accent: #032f62;
    --accent-hover: #0000ff;
    --color-focus: #2188ff;
    --color-scrollbar-border: #ffffff;
    --color-scrollbar-thumb: #959da533;
    --color-scrollbar-thumb-hover: #959da544;
    --color-scrollbar-thumb-active: #959da588;
    --color-scrollbar-shadow: #6a737d33;
    --text-selection-color: #0366d625;
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
        system-ui, Ubuntu, sans-serif;
    --font-mono: Fira Code, monospace;
}

:root.solarized-light {
    --background-color: #eee8d5;
    --editor-background: #fdf6e3;
    --navbar-text: #586e75;
    --inactive-navbar-background: #e4ddc9;
    --active-navbar-text: #333333;
    --body-text: #333333;
    --secondary-text: #586e75;
    --editor-line-number: #237893;
    --editor-line-number-hover: #567983;
    --highlighted-line: #eee8d5;
    --line-break: #93a1a1;
    --accent: #268bd2;
    --accent-hover: #0000ff;
    --color-focus: #d3af86;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #64646466;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #00000099;
    --color-scrollbar-shadow: #dddddd;
    --text-selection-color: #eee8d5;
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
        system-ui, Ubuntu, sans-serif;
    --font-mono: Fira Code, monospace;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover);
}

*::-webkit-scrollbar-thumb:active {
    background: var(--color-scrollbar-thumb-active);
}

*::selection {
    background-color: var(--text-selection-color);
}

body {
    background-color: var(--background-color);
    width: 100%;
    color: var(--secondary-text);
    font-family: "Fira Code", monospace;
    font-weight: 500;
}
body::-webkit-scrollbar {
    border-left: 1px solid var(--color-scrollbar-border);
    width: 14px;
}

.container {
    margin: 4.5rem auto 0;
    max-width: 81ch;
    
}
li {
    list-style: none;
}

.nav-list {
    display: flex;
    margin: 0 auto;
}

.nav-item {
    background-color: var(--editor-background);
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
        system-ui, Ubuntu, sans-serif;
}
.nav-item a {
    text-decoration: none;
    font-weight: normal;
}
.nav-item a:hover {
    color: var(--navbar-text);
}
.nav-item:not(:nth-of-type(2)) {
    margin-right: 0.1rem;
}

.nav-item:nth-of-type(1),
.nav-item:nth-of-type(2) {
    background-color: var(--inactive-navbar-background);
}

.nav-item:nth-of-type(3) {
    background-color: var(--editor-background);
}

.nav-item:nth-of-type(3) a {
    color: var(--active-navbar-text);
}

.nav-link {
    color: var(--navbar-text);
    font-family: var(--font-sans);
    font-size: 0.8rem;
}

.nav-link div {
    width: 7.5rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
}
main {
    color: var(--body-text);
}

.editor {
    margin: auto;
    max-width: 81ch;
    min-height: 100vh;
    padding-bottom: 4rem;
    background-color: var(--editor-background);
}
.first-paragraph {
    margin-left: 3rem;
    padding-left: 50px;
    color: var(--secondary-text);
}
h1 {
    margin-left: 3rem;
    padding-top: 30px;
    padding-left: 50px;
    font-size: 20px;
   
}
h2 {
    font-size: 18px;
}

h1,
h2 {
    color: var(--body-text);
    font-weight: 700;
}
.image:hover {
    cursor: pointer;
}
.flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 40px;
}
p {
    line-height: 1.5rem;
}
.page-link {
    color: var(--body-text);
    cursor: pointer;
    text-decoration: none;
}
.page-link:hover {
    color: var(--accent-hover);
}
a {
    color: var(--accent);
    text-decoration: none;
}
a:hover {
    color: var(--accent-hover);
}
.project-link {
    border-bottom: 1px solid var(--accent);
}
.project-link:hover {
    border-bottom: 1px solid var(--accent-hover);
}
hr {
    border-top: 3px dashed;
}
.social-media {
    display: flex;
    flex-direction: row;
}
.footer-part {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.line-break {
    display: flex;
    opacity: 80%;
    overflow: hidden !important;
    margin: 1.5rem;
    border-width: 0px;
    height: 1.5rem;
    padding-left: 5.3rem;
    padding-right: 4.4rem;
    color: var(--line-break);
}

.line-break::before {
    content: "//";
    padding-right: 0.5rem;
}

.line-break::after {
    overflow-wrap: anywhere;
    content: "--------------------------------------------------------------";
    font-variant-ligatures: none;
   }
footer {
    display: flex;
    justify-content: space-between;
    padding-left: 5.3rem;
    padding-right: 4.4rem;
}

.social-links {
    font-weight: 500;
}

.social-link {
    display: inline-block;
}

.social-link a {
    border-bottom: 1px solid var(--accent);
    color: var(--accent);
    text-decoration: none;
}

.social-link a:hover {
    border-bottom: 1px solid var(--accent-hover);
    color: var(--accent-hover);
}

.bullet {
    color: var(--secondary-text);
}

.color-theme-name {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}

.arrow {
    color: var(--accent);
    font-size: 1rem;
}

.color-theme-name:hover,
.color-theme-name:hover .arrow {
    color: #4e94ce;
}

.color-theme-name:focus-within {
    outline: 1px solid var(--color-focus) !important;
}

.theme-picker {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border: none;
    background: none;
    color: var(--body-text);
    cursor: pointer;
    -webkit-appearance: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Fira code", monospace;
}

.theme-picker:focus,
.theme-picker:active {
    outline: none;
}

.theme-picker > option {
    background-color: var(--background-color);
    color: var(--secondary-text);
}

.lines {
    position: absolute;
    top: 8.5rem;
    padding: 0 1.5rem;
    color: var(--editor-line-number);
    text-align: right;
}

.lines-1:hover {
    color: var(--editor-line-number-hover);
    cursor: pointer;
}

.lines-1:active,
.lines-1:focus {
    color: var(--editor-line-number-hover);
}

.mobile-view {
    display: none;
}

/*mobile view*/

@media screen and (max-width: 599px) {
    .mobile-view {
        display: block;
        margin-top: 0;
    }
    .desktop-view {
        display: none;
    }
    .nav-list {
        flex: 0 0 auto;
    }

    .nav-item {
        flex: 0 0 auto;
        min-width: 25%;
    }

    .nav-link div {
        min-width: 0;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .editor {
        padding-left: 0.5rem;
    }
    .editor-content {
        max-width: 40ch;
    }

    .container {
        margin-top: 1px;
    }
    h1 {
        font-size: 17.5px;
    }

    h2 {
        font-size: 15.5px;
    }

    p {
        font-size: 14px;
        line-height: 1.4;
    }

    .mobile-flex {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
    }
    .mobile-image {
        padding-left: 25px;
        padding-right: 25px;
    }

    .mobile-paragraph {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2.5rem;
    }
    .second {
        padding-top: 30px;
        padding-left: 20px;
        margin-left: 1.5rem;
    }
    .second-paragraph {
        margin-left: 1.5rem;
        padding-left: 20px;
        color: var(--secondary-text);
    }

    .mobile-link {
        color: var(--accent);
        text-decoration-line: underline;
    }
    h3 {
        color: var(--body-text);
    }

    .line-break {
        padding-left: 4ch;
    }

    footer {
        flex-direction: column;
        min-height: 0;
        padding-left: 4ch;
        font-size: 14px;
    }
    .social-links {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;
    }

    .bullet {
        display: none;
    }

    .lines {
        top: 4rem;
        padding-right: 1rem;
        padding-left: 0.5rem;
        text-align: center;
    }

    .line-break {
        margin: 1rem 0 1.5rem;
    }
}
