* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e1f1c;
  font-family: "Fira Code", monospace;
  width: 100%;
  color: #f8f8f2;
  font-weight: 700;
}
main {
  background-color: #272822;
  max-width: 90ch;
  min-height: 100vh;
  color: #f8f8f2;
  margin: auto;
}
.first-paragraph {
  margin-left: 3rem;
  padding-left: 50px;
}
h1 {
  font-size: 20px;
  padding-top: 30px;
  padding-left: 50px;
  margin-left: 3rem;
}
h2 {
  font-size: 18px;
}
.image:hover {
  cursor: pointer;
}
.flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: px;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-left: 40px;
}
p {
  color: #cfcfc2;
  line-height: 1.5rem;
}
.page-link {
  color: #f8f8f2;
  cursor: pointer;
  text-decoration: none;
}
.page-link:hover {
  color: #4e94ce;
}
a {
  color: #a6e22e;
}
a:hover {
  color: #4e94ce;
}
hr {
  border-top: 3px dashed;
}
.social-media {
  display: flex;
  flex-direction: row;
}
.footer-part {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
