:root {
    --background-color: #1e1f1c;
    --editor-background: #272822;
    --navbar-text: #ccccc7;
    --inactive-navbar-background: #34352f;
    --active-navbar-text: #ffffff;
    --body-text: #f8f8f2;
    --secondary-text: #cfcfc2;
    --editor-line-number: #90908a;
    --editor-line-number-hover: #c2c2bf;
    --highlighted-line: #3e3d32;
    --line-break: #88846f;
    --accent: #a6e22e;
    --accent-hover: #4e94ce;
    --color-scrollbar-border: #7f7f7f4d;
    --color-scrollbar-thumb: #79797966;
    --color-scrollbar-thumb-hover: #646464b3;
    --color-scrollbar-thumb-active: #bfbfbf66;
    --color-scrollbar-shadow: #000000;
    --font-sans: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
        system-ui, Ubuntu, sans-serif;
    --font-mono: Fira Code, monospace;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover);
}

*::-webkit-scrollbar-thumb:active {
    background: var(--color-scrollbar-thumb-active);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-weight: 700;
}

body {
    background-color: var(--background-color);
    color: var(--body-text);
    font-family: var(--font-mono);
    line-height: 1.5rem;
}
body::-webkit-scrollbar {
    border-left: 1px solid var(--color-scrollbar-border);
}

.container {
    max-width: 81ch;
    margin: 4.5rem auto;
}

.nav-list {
    display: flex;
    margin: 0 auto;
}

.nav-item {
    background-color: var(--editor-background);
}
.nav-item:not(:nth-of-type(3)) {
    margin-right: 0.1rem;
}

.nav-item:nth-of-type(2),
.nav-item:nth-of-type(3) {
    background-color: var(--inactive-navbar-background);
}

.nav-link {
    font-family: var(--font-sans);
    font-size: 0.8rem;
    color: var(--navbar-text);
}

.nav-link div {
    width: 7.5rem;
    padding: 0.3rem 0 0.3rem 0.5rem;
}

main {
    font-weight: 500;
}

.editor {
    padding: 2rem 8ch 5rem;
    background-color: var(--editor-background);
}

header {
    display: flex;
}

.profile-pic {
    width: 17.5ch;
    height: 10.5rem;
    margin-right: 1rem;
    object-fit: cover;
}

.header-text h1 {
    font-size: 1.3rem;
}

.occupation {
    padding-bottom: 1.5rem;
}

.accent {
    border-bottom: 1px solid var(--accent);
    color: var(--accent);
}

.accent:hover {
    border-bottom: 1px solid var(--accent-hover);
    color: var(--accent-hover);
}

.line-break {
    margin: 1.5rem 0;
    border-width: 0px;
    color: var(--line-break);
}

.line-break::before {
    content: "//";
    padding-right: 0.5rem;
}

.line-break::after {
    content: "--------------------------------------------------------------";
    font-variant-ligatures: none;
}

.section-header {
    padding-bottom: 1.5rem;
    font-size: 1.125rem;
}

article {
    display: flex;
    padding-bottom: 1rem;
}

.article-img {
    width: 17.5ch;
    height: 6rem;
    margin-right: 1rem;
}

.article-title a {
    color: var(--body-text);
    font-size: 1.125rem;
    font-weight: 700;
}

.article-title a:hover {
    color: var(--accent-hover);
}

.article-description {
    min-height: 3rem;
}

.date-published {
    color: var(--secondary-text);
    font-size: 0.8rem;
}

.more-articles {
    display: inline-block;
    color: var(--body-text);
    font-weight: 700;
}

.arrow {
    color: var(--accent);
    font-size: 1.4rem;
    vertical-align: top;
}

.more-articles:hover,
.more-articles:hover .arrow {
    color: var(--accent-hover);
}

.project-img {
    width: 10ch;
    height: 6rem;
    margin-right: 1rem;
}

.project-link {
    border-bottom: 1px solid var(--accent);
    color: var(--accent);
}

.project-link:hover {
    border-bottom: 1px solid var(--accent-hover);
    color: var(--accent-hover);
}

footer {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

.social-links {
    display: flex;
}

.social-link {
    padding-right: 0.7rem;
}

.social-link a {
    border-bottom: 1px solid var(--accent);
    color: var(--accent);
}

.social-link a:hover {
    border-bottom: 1px solid var(--accent-hover);
    color: var(--accent-hover);
}

.color-theme-name {
    position: relative;
    cursor: pointer;
}

.arrow {
    font-size: 1rem;
}

.color-theme-name:hover,
.color-theme-name:hover .arrow {
    color: #4e94ce;
}

.theme-picker {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background: none;
    color: var(--body-text);
    opacity: 0;
    -webkit-appearance: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Fira code", monospace;
    cursor: pointer;
}

.theme-picker:focus,
.theme-picker:active {
    outline: none;
}

.theme-picker > option {
    background-color: #1e1f1c;
    color: #cfcfc2;
}
